<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076329577105-vuk2gan3id91q0cm73cictorjpea91l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076329577105-vuk2gan3id91q0cm73cictorjpea91l3</string>
	<key>API_KEY</key>
	<string>AIzaSyDHzNU94_hgaLe2NbuVi4vYRwJLW9yT6xU</string>
	<key>GCM_SENDER_ID</key>
	<string>1076329577105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upax.test.UpaxTest</string>
	<key>PROJECT_ID</key>
	<string>upaxtest-de299</string>
	<key>STORAGE_BUCKET</key>
	<string>upaxtest-de299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076329577105:ios:45a2ac38783921cabd5d30</string>
</dict>
</plist>